version: '3.9'

services:
  nginx:
    environment:
      VIRTUAL_HOST: inventory.devenv.test

  app:
    environment:
      - APP_CURRENCY=USD

  dependencies:
    environment:
      - APP_CURRENCY=USD
